@charset "UTF-8";
/* CSS Document */

body {
	background:black;
}

table {
	align-self:center;
	align-content:center;
	padding:5px;
	border:0;
}

iframe {
	width:100%;
}
	
#headerLeft {
	width:100%;
	background:black;
	float:left;
}

#headerCenter {
	width:100%;
	background:black;
	float:left;
}

#headerRight {
	width:100%;
	background:black;
	float:left;
}

#footer {
	background:black;
	color:#FAF6F6;
	font-size:10px;
}

* {
    box-sizing: border-box;
}

/* Table cells*/
.cellCenter {
	text-align:center;
	vertical-align:middle;
}

/* Containers*/
#text_cols_between {
	background:blue 0 0 repeat-y;
	width:inherit;
	margin:0;
	max-height:inherit;
}

#text_cols_top {
	background:blue 0 100% no-repeat;
}

#text_cols_bottom {
	background:blue 0 0 no-repeat;
	padding:30px 10px;
	clear:both;
	margin: 0 auto;
	display:block;
	height:auto;
}

#mainContainer {
	overflow-y:scroll;
	width:100%;
	max-height:inherit;
	font-size:10px;
}

#text_cols_between2 {
	background:blue 0 0 repeat-y;
	width:inherit;
	margin:0;
	max-height:inherit;
}

#text_cols_top2 {
	background:blue 0 100% no-repeat;
}

#text_cols_bottom2 {
	background:blue 0 0 no-repeat;
	padding:30px 10px;
	clear:both;
	margin: 0 auto;
	display:block;
	height:auto;
}

#mainContainer2 {
	overflow-y:scroll;
	width:100%;
	max-height:inherit;
	font-size:10px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
	float: left;
    padding: 15px;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.aside {
    background-color: black;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
}

